.recurrence-edit-container {
  display: flex;
  flex-direction: column;
  padding-left: 0px;
}

.recurrence-edit-title {
  font-size: 0.8rem;
  font-weight: 600;
  color: #3c4043;
}

.recurrence-edit-section {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.recurrence-edit-sub-section-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.recurrence-edit-text {
  font-size: 0.8rem;
  font-weight: 400;
  color: #3c4043;
}

.recurrence-edit-select-weekdays {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
}

/* Add styles for weekday buttons */
.weekday-button {
  width: 24px;
  height: 24px;
  font-size: 0.8rem;
  font-weight: 400;
  background-color: transparent;
  color: #0000008a;
  border-radius: 50%;
  margin: 0 3px;
  border: 1px solid #0000001f;
  cursor: pointer;
}

.weekday-button.selected {
  color: #1976d2;
  background-color: #1976d214;
}

.recurrence-edit-end-options {
  display: flex;
  flex-direction: column;
}

.recurrence-edit-end-option {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 5px;
}

.recurrence-edit-radio-option-label {
  margin-left: 5px;
}

.recurrence-edit-actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
