.weekly-calendar-container {
  width: 100%;
  margin: 10px 10px 0 0;
}

.time-divider::after {
  border-bottom-color: #e8e8e8;
  content: "";
  border-bottom: #e8e8e8 1px solid;
  position: absolute;
  width: 100%;
  margin-top: -1px;
  z-index: 3;
  pointer-events: none;
}

.day-header {
  font-size: 1.1rem;
  /* color: #70757a; */
  color: #3c4043;
  font-weight: 550;
}
