.request-panel-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* max-width: 350px; */
  padding: 16px;
}

/* Mobile responsive adjustments */
@media (max-width: 600px) {
  .request-panel-container {
    max-width: 100%;
    padding: 16px 8px;
  }

  .variable-input-container {
    margin-bottom: 12px;
  }

  .select-container {
    margin-left: 4px;
    margin-right: 8px;
  }
}

.request-panel-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  /* width: 100%; */
}

.variable-input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-bottom: 8px;
}

.select-container {
  margin-left: 8px;
  margin-right: 16px;
  width: 100%;
}

.variable-input-param-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.date-pickers-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.save-button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}
