.request-row.active {
  background-color: #ffffff;
}

.request-row.inactive {
  background-color: #f0efed;
}

.request-status-container {
  display: flex;
  align-items: center;
}

.request-status {
  margin-left: 5px;
}

.name-cell {
  display: flex;
  flex-direction: column;
}

.missing {
  font-size: 10px;
  font-style: italic;
  color: #808080;
}

.request-row-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
