# Files
.DS_Store
next-env.d.ts
tsconfig.tsbuildinfo
**redis.conf
**/dump.rdb
**.env
**/.env
**/.env.dev
**/.env.local
**/.env.development
**/.env.docker
**/.env.docker_compose
**/.env.production
compose.dev.yaml


# Folders
__pycache__/
.pytest_cache/
.vscode/
.mypy_cache/
.next/
node_modules/
dist/
backend/src/processing_engine/engine/saved/
backend/processing_engine/src/solver_parameter_tuning/parameter_test_output
backend/processing_engine/src/solver_parameter_tuning/analysis_output
backend/solve_service/src/engine/saved/
backend/solve_service/src/solver_parameter_tuning/parameter_test_output
backend/solve_service/src/solver_parameter_tuning/analysis_output
# Environments
venv_nsp