# Files
.DS_Store
next-env.d.ts
tsconfig.tsbuildinfo
**redis.conf
**/dump.rdb
**.env
**/.env
**/.env.dev
**/.env.local
**/.env.development
**/.env.docker
**/.env.docker_compose
**/.env.production
compose.dev.yaml


# Folders
__pycache__/
.pytest_cache/
.vscode/
.mypy_cache/
.next/
node_modules/
dist/
backend/src/engine/saved/*

# Environments
venv_nsp