.dsd-cell-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  /* min-width: 120px; */
  background-color: var(--bg-color, #f5f5f5);
  color: var(--text-color, #212121);
  border-radius: 4px;
  margin: 1px;
  padding: 2px 2px 12px 2px;
  cursor: pointer;
}

.dsd-cell-stats {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.dsd-cell-title {
  font-size: 0.75rem;
  line-height: 20px;
  font-weight: bold;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Limit to 2 lines */
  line-clamp: 2; /* Limit to 2 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis; /* Adds ... if the text overflows */
}

.dsd-stats-total {
  font-size: 0.8125rem;
  font-weight: bold;
  color: green;
}

.dsd-stats-total.breach {
  color: red;
}
