[settings]
profile = black
known_first_party = \
    database, \
    logger, \
    scripts, \
    errors, \
    services, \
    constraint_templates, \
    integrations, \
    routes, \
    core_to_excel_service
known_third_party = mongoengine, shared
sections = FUTURE,STDLIB,THIRDPARTY,FIRSTPARTY,LOCALFOLDER