.cell-content-container {
  height: 100%;
  width: 100%;
}

.assignment-div-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  cursor: pointer;
  border-bottom: 1px solid #e0e0e07d;
}

.assignment-div-container.last {
  border-bottom: none;
}

.assignment-div-container.fix {
  border: 4px solid #e0e0e0;
}

.assignment-div-container.hard-breach {
  border-bottom: none;
}

.assignment-div-container.soft-breach {
  border-bottom: none;
}

.worker-name {
  font-size: 0.85rem;
  font-weight: 350;
}
