.assignment-options-assignment-container {
  margin-top: 10px;
}

.assignment-options-assignment-title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.assignment-options-assignment-title {
  font-size: 0.8rem;
  font-weight: 600;
  color: #3c4043;
}

.assignment-options-no-assignment-selected-msg {
  font-size: 0.8rem;
  font-weight: 400;
  color: #3c4043;
  font-style: italic;
}
