.quick-staffing-container {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: 100%;
  margin: 10px 10px 5px 5px;
}

.quick-staffing-title {
  font-size: 1rem;
  font-weight: 600;
  color: #3c4043;
}

.qs-column-header-container {
  display: flex;
  justify-content: center;
  padding: 0 0 2px 0;
}

.qs-column-header-text {
  font-size: 0.75rem;
  text-align: center;
  font-weight: bold;
  writing-mode: vertical-rl;
}

.qs-row-header-container {
  width: 40px;
  padding: 5px 10px;
}

.qs-row-header-text {
  font-size: 0.75rem;
  text-align: left;
  font-weight: bold;
}

.qs-cell-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.qs-cell-staffing-container {
  display: flex;
  justify-content: center;
  width: 35px;
}

.qs-cell-staffing-text {
  font-size: 0.8rem;
  color: black;
  text-align: center;
  width: 20px;
  height: 16px;
  font-weight: bold;
  margin-top: -6px;
  border-radius: 4px;
}

.qs-cell-staffing-text:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}

.qs-cell-staffing-text.qs-staffing-at-target {
  color: green;
}

.qs-cell-staffing-text.qs-staffing-diff-target {
  color: red;
}

.qs-set-target-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.qs-target-text {
  font-size: 0.75rem;
  color: grey.500;
  text-align: center;
  width: 15px;
  height: 15px;
  margin: 0 -4px;
}
