.worker-row-header-cell-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 4px;
  width: 140px;
}

.worker-row-header-cell-content {
  display: flex;
  flex-direction: column;
  padding-left: 4px;
}

.worker-name {
  font-size: 1rem;
  font-weight: 550;
  color: #3c4043;
}

.worker-stats-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 0.8125rem;
  font-weight: 500;
}

.worker-stats-label {
  font-size: 0.7rem;
  font-weight: 300;
  font-style: italic;
  color: #616161;
  width: 70px;
}

.worker-stats-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: green;
}

.worker-stats-container.breach {
  color: red;
}

.worker-stats {
  display: flex;
  justify-content: center;
  font-size: 0.8125rem;
  font-weight: 500;
  width: 27px;
}
