.cell-content-container {
  height: 100%;
  width: 100%;
}

.assignment-div-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 45px;
  width: 100%;
  cursor: pointer;
  border-bottom: 1px solid #e0e0e07d;
}

.assignment-div-container.last {
  border-bottom: none;
}

.assignment-div-container.hard-breach {
  background-color: #ff00001e;
}

.assignment-div-container.soft-breach {
  background-color: #ffa5001e;
}

.shift-name-cell {
  font-size: 0.85rem;
  font-weight: 350;
}

.shift-name-cell.fix {
  font-weight: 550;
}

.w-shift-type-marker {
  width: 60px;
  height: 5px;
}

.w-shift-type-marker.duty {
  background-color: #0000ff70;
}

.shift-times-container {
  display: flex;
  flex-direction: row;
}

.shift-times-cell {
  font-size: 0.7rem;
  font-weight: 300;
  color: #616161;
}

.cell-hover-container:hover .add-icon-button,
.add-icon-button:hover {
  opacity: 0.5;
}
