.column-header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 0 5px 0;
}

.column-header {
  font-size: 1.1rem;
  color: #3c4043;
  font-weight: 550;
  text-align: center;
}

.column-header.quick-stats {
  font-size: 0.8rem;
  height: 20px;
}

.column-header.week {
  font-size: 0.75rem;
}

.column-header-custom-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.column-header-stats-unit {
  font-size: 0.8rem;
  color: #3c4043;
  font-weight: 400;
  height: 19px;
}

.column-header-stats-unit.quick-stats {
  font-size: 0.7rem;
  height: 15px;
}

.column-header-shift-name {
  font-size: 0.8rem;
  color: #3c4043;
  font-weight: 400;
  font-style: italic;
  height: 19px;
}

.column-header-shift-name.quick-stats {
  font-size: 0.7rem;
  height: 15px;
}

.row-worker-name {
  font-size: 0.875rem;
  color: #3c4043;
  font-weight: 400;
}

.row-worker-name.quick-stats {
  font-size: 0.7rem;
  font-weight: 550;
}

.row-worker-name.row-total {
  font-weight: 550;
}

.row-value {
  font-size: 0.875rem;
  color: #3c4043;
  font-weight: 400;
}

.row-value.row-total {
  font-weight: 550;
}

.row-value.quick-stats {
  font-size: 0.8rem;
}
