.shift-row-header-cell-container {
  display: flex;
  flex-direction: row;
  padding-left: 10px;
}

.shift-row-header-cell-left {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  width: 130px;
}

.shift-name {
  font-size: 1rem;
  font-weight: 550;
  color: #3c4043;
}

.shift-stats-total {
  font-size: 0.8125rem;
  font-weight: 500;
  color: green;
}

.shift-stats-total.breach {
  color: red;
}

.shift-row-header-cell-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50px;
}

.shift-time {
  font-size: 0.8rem;
  font-weight: 500;
  color: #616161;
}
