[settings]
profile = black
known_first_party = \
    scripts, \
    errors, \
    services, \
    constraint_templates, \
    integrations, \
    routes, \
    core_to_excel_service
known_third_party = shared
sections = FUTURE,STDLIB,THIRDPARTY,FIRSTPARTY,LOCALFOLDER