.campaign-tab-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 64px);
  overflow-x: hidden;
  overflow-y: auto;
  padding: 30px 10%;
}

@media (min-width: 1024px) {
  /* Adjust the min-width value as needed */
  .campaign-tab-container {
    padding: 0 15%; /* Padding: 15% on each side for wider screens */
  }
}

.title {
  font-size: 1.2rem;
  font-weight: 600;
  color: #3c4043;
}
